<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <title>Staff Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Angular Toaster/notification css -->
    <link rel="stylesheet" href="./lib/css/angular-toaster.css">
    
    <!-- Custom css -->
    <link rel="stylesheet" href="./styles/dashboard.css">
    <link rel="stylesheet" href="./styles/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">
</head>

<body ng-controller="userController">
   
    <!-- Navbar  -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#!main">Dashboard</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!main">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!profile/{{loggedUser.userId}}" ng-show="isLoggedFun()">Profile</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" ng-show="isLoggedFun()">{{loggedUser.userName}}</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" style="color: white;cursor: pointer; margin-left: 10px" ng-show="isLoggedFun()" type="submit"
                        ng-click="logout()">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <!--  /Navbar End -->

    <!-- Left Tab  -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" ng-show="isLoggedFun()">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!main" style="font-size: 20px;">Overview
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 20px;" href="#!createEmployee" ng-show="loggedUser.role == 'ADMIN'">Register Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!permissionLetters" style="font-size: 20px;" ng-show="loggedUser.role == 'ADMIN'">Letters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!createLetter" style="font-size: 20px;" ng-show="loggedUser.role == 'STAFF'">Apply Letter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!sentLetters" style="font-size: 20px;" ng-show="loggedUser.role == 'STAFF'" ng-click="getLettersByUser(loggedUser.userId)">Sent Letters</a>
                    </li>
                    <li class="nav-item" ng-show="loggedUser.role == 'ADMIN'">
                       <a class="nav-link" href="#!attendance" style="font-size: 20px;" >Register Attendance</a>
                    </li>
                    <li class="nav-item" ng-show="loggedUser.role == 'ADMIN'">
                       <a class="nav-link" href="#!attendanceverify" style="font-size: 20px;">Attendance Verification</a>
                    </li>
                </ul>
            </nav>

            <!-- Router -->
            <div ng-view="" style="width: 100%"></div>

        </div>
    </div>
    <!-- /End Left Tab -->
    
    <!-- Scripts for Angualr -->
    <script src="./lib/js/angular.min.js"></script>
    <script src="./lib/js/angular-route.min.js"></script>
    <script src="./lib/js/angular-animate.js"></script>
    <script src="./lib/js/angular-cookies.min.js"></script>
    <script src="./lib/js/angular-toastr.tpls.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="./lib/js/jquery.min.js"></script>
    <script src="./lib/js/popper.min.js" ></script>
    <script src="./lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./lib/js/moment.js"></script>
    
    <!-- Scripts for timestamp -->
    <script type="text/javascript" src="./scripts/timeago.min.js"></script>

    <!-- Angular custom controller and service scripts  -->
    <script src="./app.js"> </script>
    <script src="./scripts/userController.js"></script>
    <script src="./scripts/letterController.js"></script>
    <script src="./scripts/editUserController.js"></script>
    <script src="./scripts/attendanceController.js" ></script>
    <script src="./scripts/userService.js"></script>
    <script src="./scripts/letterService.js"></script>
    <script src="./scripts/attendanceService.js" ></script>
</body> 

</html>