<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
    <br>
    <br>
    <div>
        <h2>Attendance verification</h2>
    </div>

    <br>
    <br>
    <h4>Search:</h4>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">User Name</label>
          <input type="text" class="form-control" id="inputCity" ng-model="searchNames" required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Month</label>
          <select id="inputState" class="form-control" ng-model="sarchMonth" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select >
        </div>
        <div class="form-group col-md-2">
           <label for="inputState">Get By</label>
          <select id="inputState" class="form-control" ng-model="searchLeaveTaken" required>
            <option value="true">Attended</option>
            <option value="false">Absences</option>
          </select>
        </div>
         <button type="submit" class="btn btn-primary mb-2" ng-click="getBySearch(searchNames,sarchMonth,searchLeaveTaken)">Search</button>
      </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S/No.</th>
                    <th>Staff Email ID</th>
                    <th>Date</th>
                    <th>isPresent</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="staff in staffList">
                    <td>{{$index + 1}}</td>
                    <td><a  href="#!viewEmployee/{{staff.userIdNumb}}" >{{staff.userId}}</a> </td>
                    <td>{{staff.date}}</td>
                    <td>
                      <div class="alert alert-success" role="alert" ng-show="staff.present">
                          <strong>Present!</strong>
                      </div>
                      <div class="alert alert-danger" role="alert" ng-show="!staff.present">
                           <strong>Taken Leave!</strong>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
         <div ng-if="staffList.length == 0" style="padding: 30px">
            <div class="alert alert-info" role="alert">
                <strong>Sorry!</strong> No Datas found.
            </div>
        </div>
    </div>
</main>