<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
    <br>
    <br>
    <div class="float-left">
        <h2>Attendance Module</h2>
    </div>

    <div class="float-right">
        <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input type="text" name="search" id="search" ng-model="search" class="form-control" placeholder="Search Employees">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S/No</th>
                    <th>Staff Name</th>
                    <th>Staff Email ID</th>
                    <th>Staff Department</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="staff in users | filter: search" ng-hide="staff.role == 'ADMIN'">
                    <td>{{$index + 1}}</td>
                    <td>{{staff.userName}}</td>
                    <td>{{staff.userEmailId}}</td>
                    <td>{{staff.department}}</td>
                    
                    <td> 
                        <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#exampleModal" ng-click=" selectedStaff(staff)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Attendance
                        </a>
                    </td>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Register Attendance</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form  class="was-validated" ng-submit="">
                                  <div class="form-group row">
                                    <label for="inputUser3" class="col-sm-4 col-form-label">User Name</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" id="inputUser3" placeholder="userName" ng-model="staff.userName" disabled="true">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="inputUser3" class="col-sm-4 col-form-label">User Email Id</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" id="inputUser3" placeholder="userEmailId" ng-model="staff.userEmailId" disabled="true">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="inputDate3" class="col-sm-4 col-form-label">Date</label>
                                    <div class="col-sm-8">
                                      <input type="date" class="form-control" id="inputDate3" ng-model="date">
                                    </div>
                                  </div> 
                                   <div class="form-group row">
                                    <div class="col-sm-4">Attendance</div>
                                    <div class="col-sm-8">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1" ng-model="present">
                                        <label class="form-check-label" for="gridCheck1">
                                            ?
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" ng-click="register(staff)">Save changes</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</main>