<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
        <br>
        <br>
        <h3>Apply Permission</h3>
    
        <section class="row text-center placeholders">
            <form style="width:85%" ng-submit="createLetter(letter)" name="myForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="permissionDateFrom">Permission From Date</label>
                        <input type="date" class="form-control" id="permissionDateFrom" ng-model="letter.permissionDateFrom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="permissionDateTo">To Date</label>
                        <input type="date" class="form-control" id="permissionDateTo" ng-model="letter.permissionDateTo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName">Content</label>
                    <textarea type="text" class="form-control" id="inputName" placeholder="Your Message" ng-model="letter.content" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </section>
    </main>