<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
    <br>
    <br>

    <div class="float-left">
        <h2>Letters</h2>
    </div>
    <div class="float-right">
        <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input type="text" name="search" id="search" ng-model="search" class="form-control" placeholder="Search Letters">
        </div>
    </div>
    <br>
    <br><br>
    <div class="letter-list">

        <h4>Upcoming Letters</h4>
        <div class="card" ng-repeat="letter in upComingLetters" style="margin-top: 5px; margin-bottom: 10px">
            <div class="card-header">
                {{letter.permissionFrom}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{letter.content}}.</p>
                    <footer class="blockquote-footer">Permission From
                        <cite title="permissionDateFrom">{{letter.permissionDateFrom | date:"MM/dd/yyyy"}}</cite> to 
                        Permission To <cite title="permissionDateTo">{{letter.permissionDateTo | date:"MM/dd/yyyy"}}</cite>

                        <div style="float: right;">
                             <button type="button" class="btn btn-success" ng-click="updateStatus( letter, true)">Approve</button>
                            <button type="button" class="btn btn-danger" ng-click="updateStatus( letter, false)">Reject</button>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div ng-if="upComingLetters.length == 0" style="padding: 30px">
            <div class="alert alert-info" role="alert">
                <strong>No!</strong> No Upcoming letters found.
            </div>
        </div>

        <h4>Past Letters</h4>
        <div class="card" ng-repeat="letter in letters | filter: search" ng-if="letter.responseStatus" style="margin-top: 5px">
            <div class="card-header">
                {{letter.permissionFrom}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{letter.content}}.</p>
                    <footer class="blockquote-footer">Permission From
                        <cite title="permissionDateFrom">{{letter.permissionDateFrom | date:"MM/dd/yyyy"}}</cite> to 
                        Permission To <cite title="permissionDateTo">{{letter.permissionDateTo | date:"MM/dd/yyyy"}}</cite>

                        <div style="float: right;">
                               <div class="alert alert-success" role="alert" ng-if="letter.status">
                                   <strong>Approved!</strong>
                               </div>
                                <div class="alert alert-danger" role="alert" ng-if="!letter.status">
                                   <strong>Rejected!</strong>
                               </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</main>