<div class="container">

  <form class="form-signin" style="margin-top: 70px" data-ng-submit="login()" role="form">

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus data-ng-model="user.userEmailId">

    <span data-ng-show="form.emailId.$dirty && form.emailId.$error.required" class="help-block">EmailId is required</span>

    <label for="inputPassword" class="sr-only">Password</label>

    <input type="password" id="inputPassword" class="form-control" placeholder="Password" data-ng-model="user.userPassword" required>

    <span data-ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="form.$invalid">Sign in</button>
  </form>

</div>
<!-- /container -->