<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
    <br>
    <br>

    <div class="float-left">
        <h2>Dashboard - Staff List</h2>
    </div>
    <div class="float-right">
        <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input type="text" name="search" id="search" ng-model="search" class="form-control" placeholder="Search Employees">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Staff Name</th>
                    <th>Staff EmailId</th>
                    <th>Address</th>
                    <th>Department</th>
                    <th>Contact Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="staff in users | filter: search">
                    <td>{{staff.userIdNumber}}</td>
                    <td>{{staff.userName}}</td>
                    <td>{{staff.userEmailId}}</td>
                    <td>{{staff.address1}} / {{staff.address2}}</td>
                    <td>{{staff.department}}</td>
                    <td>{{staff.contactnumber}}</td>
                    <td>
                        <a class="btn btn-primary" href="#!viewEmployee/{{staff.userId}}" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-warning" href="#!updateEmployee/{{staff.userId}}" role="button" ng-show="loggedUser.role == 'ADMIN'">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#exampleModal" ng-click="removeUser(staff)" ng-show="loggedUser.role == 'ADMIN'">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>

                    </td>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Employee {{removingUser.userName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure!, want to delete
                                    <strong>{{removingUser.userName}}</strong> permenantly ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" ng-click="delete(removingUser.userId)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</main>