<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
    <br>
    <br>
    <h3>Employee Details</h3>

    <section class="row placeholders">
        <form style="width:85%" ng-submit="update(user)" name="myForm">
             <h4>Employee Details:</h4>
            <br>
            <div class="form-group  text-center">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="user.userName">
            </div>
            <div class="form-row  text-center">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="user.userEmailId" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" ng-model="user.userPassword">
                </div>
            </div>
            <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <label for="inputDepartment">Department</label>
                    <input type="text" class="form-control" id="inputDepartment" placeholder="Department" ng-model="user.department">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputQualification">Qualification</label>
                    <input type="text" class="form-control" id="inputQualification" placeholder="Qualification" ng-model="user.qualification">
                </div>
            </div>
             <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <label for="inputConference">Conference</label>
                    <input type="text" class="form-control" id="inputConference" placeholder="Conference" ng-model="user.conference">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputWrkExp">Work Experience</label>
                    <input type="text" class="form-control" id="inputWrkExp" placeholder="Work Experience" ng-model="user.wrkExp">
                </div>
            </div>
            <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <label for="inputContactNumber">Contact Number</label>
                    <input type="tel" class="form-control" id="inputContactNumber" placeholder="Contact Number" ng-model="user.contactnumber">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputIdNumber">ID Number</label>
                    <input type="text" class="form-control" id="inputIdNumber" placeholder="Employee Id Number" ng-model="user.userIdNumber">
                </div>
            </div>
            <div class="form-row  text-center">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" ng-model="user.address1">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" ng-model="user.address2">
                </div>
            </div>
            <div class="form-row  text-center">
                
                <div class="form-group col-md-6">
                    <label for="inputZip">pincode</label>
                    <input type="text" class="form-control" id="inputZip" ng-model="user.pincode">
                </div>
                <div class="form-group col-md-6">
                    <label for="leavetaken">Leave Taken</label>
                    <input type="text" class="form-control" id="leavetaken" ng-model="user.leaveTaken" disabled>
                </div>
            </div>
             <div class="form-row  text-center">
                <div class="form-group col-md-6">
                    <label for="casualLeave">Casual Leave</label>
                    <input type="text" class="form-control" id="casualLeave" ng-model="user.casualLeave" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="leavetaken">Medical Leave</label>
                    <input type="text" class="form-control" id="leavetaken" ng-model="user.medicalLeave" disabled>
                </div>
            </div>

            <h4>Employee Salary Details:</h4>
            <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <label for="inputBasicPay">Basic Pay</label>
                    <input type="text" class="form-control" id="inputBasicPay" placeholder="" ng-model="user.basicPay" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputhraPay">Loss of Pay (LOP)</label>
                    <input type="text" class="form-control" id="inputhraPay" placeholder="" ng-model="user.hraPay" disabled>
                </div>
            </div>
            <div class="form-row text-center">
                <div class="form-group col-md-6">
                    <label for="inputConveyance">Conveyance</label>
                    <input type="text" class="form-control" id="inputConveyance" placeholder="" ng-model="user.conveyancePay" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputOtherAllowance">Other Allowance (OA)</label>
                    <input type="text" class="form-control" id="inputOtherAllowance" placeholder="" ng-model="user.otherAllowance"  disabled>
                </div>
            </div>
            <div class="form-row text-center">
                 <div class="form-group col-md-6 text-center">
                    <label for="annualSalary">Annual Salary</label>
                    <input type="text" class="form-control" id="annualSalary" ng-model="user.annualSalary" disabled>
                </div>
                <div class="form-group col-md-6 text-center">
                    <label for="monthlySalary">Monthly Salary</label>
                    <input type="text" class="form-control" id="monthlySalary" ng-model="user.monthlySalary" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
</main>