<main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3" ng-init="getUserById()">
    <br>
    <br>
    <h3>
        <strong>Employee Details:</strong>
    </h3>
<br>
    <form>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.userName}}</h5>
            </div>
            <label for="inputIdNumber" class="col-sm-2 col-form-label">Id Number</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.userIdNumber}}</h5>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.userEmailId}}</h5>
            </div>
            <label for="department" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.department}}</h5>
            </div>
        </div>
        <div class="form-group row" ng-show="loggedUser.role == 'ADMIN'">
            <label for="annualSalary" class="col-sm-2 col-form-label">Annual Salary</label>
            <div class="col-sm-10">
                <h5>{{selectedUser.annualSalary}}</h5>
            </div>
        </div>
        <div class="form-group row" ng-show="loggedUser.role == 'ADMIN'">
            <label for="leaveTaken" class="col-sm-2 col-form-label">Leave Taken</label>
            <div class="col-sm-10">
                <h5>{{selectedUser.leaveTaken}}</h5>
            </div>
        </div>
        <div class="form-group row">
            <label for="casualLeave" class="col-sm-2 col-form-label">Casual Leave</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.casualLeave}}</h5>
            </div>
            <label for="medicalLeave" class="col-sm-2 col-form-label">Medical Leave</label>
            <div class="col-sm-4">
                <h5>{{selectedUser.medicalLeave}}</h5>
            </div>
        </div>
        <div class="form-group row">
            <label for="address1" class="col-sm-2 col-form-label">Address1</label>
            <div class="col-sm-10">
                <h5>{{selectedUser.address1}}</h5>
            </div>
        </div>

        <div class="form-group row">
            <label for="address2" class="col-sm-2 col-form-label">Address2</label>
            <div class="col-sm-10">
                <h5>{{selectedUser.address2}}</h5>
            </div>
        </div>
        <div class="form-group row">
                <label for="address2" class="col-sm-2 col-form-label">Pincode</label>
                <div class="col-sm-10">
                    <h5>{{selectedUser.pincode}}</h5>
                </div>
            </div>

    </form>
</main>